*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(rgba(3, 0, 0, 0.6),rgba(70, 67, 67, 0.6)),url(image.jpg);
	background-size: cover;
	background-position:center;
	}
.nav {
	width: 85%;
	margin: auto;
	padding: 35px 0;
	display: flex;
	align-items: center;
	justify-content: space-between ;

}
.nav ul li{
	list-style: none;
	display:inline-block;
	margin-top: 0;
	margin-right: 30px;
	position: relative;
}
.nav ul li a{
	text-decoration: none;
	color: whitesmoke;
	text-transform: uppercase;
}
.nav ul li::after{
    content: "";
    height: 3px;
    width:0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.5s;
}
.nav ul li:hover::after{
   width: 100%;
}
.nav h1{
		color: goldenrod;
		font-variant: small-caps;
		text-decoration: line-through;
		transform: translateX(-50px);
		text-shadow: black 9px -1px 10px ;
	   }
.content{
	width: 100%;
	position: absolute;
	top: 60%;
	transform: translatey(-50%);
	text-align: center;
	color: ghostwhite;
}
.content h1{
	font-size: 70px;
	margin-top: 20px;
	color: #fff
}
.content p{
	margin:20px auto;
	font-weight:100;
	line-height: 30px;
	font-size: 20px;

}
button {
	width: 200px;
	padding:15px 0 ;
	text-align: center;
	margin: 20px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid goldenrod;
	background: transparent;
	color: #fff;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
span {
	background: goldenrod;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border: none;

}
.footer{
	background-color: goldenrod;
	width: auto;
	height: 60px;
	position: relative;
}
.end{
	justify-content:left;
	padding-top: 35px;
	padding-left: 10px;
	font-size: 11px;

}
.end-list ul{
	display: flex;
	list-style-type: none;
	float: right;
	transform: translatey(-47px);

}
.end-list ul li{
	padding: 18px;
}
.end-list ul .fa{
    font-size: 15px;
	line-height: 30px;
	transition: .6s;
	color: #000;	
}
.end-list ul .fa:hover{
	color: #fff;
}
.end-list ul li a{
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: #fff;
	text-align: center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
.end-list ul li a:hover{
	transform: translate(0,-5px);
	color: #fff;
}
.end-list ul li:nth-child(1) a:hover{
	background-color: #3b5999;
}
.end-list ul li:nth-child(2) a:hover{
	background-color: #55acee;
}
.end-list ul li:nth-child(3) a:hover{
	background-color: #089e10;
}
.end-list ul li:nth-child(4) a:hover{
	background-color: #0077b5;
}